<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
	layout:decorate="~{layouts/admin/layout}">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>All Roles</title>
</head>

<body>
	<div layout:fragment="content">

		<div th:replace="fragments/breadcrumb-title :: breadcrumb-title('Admin Dashboard')">			
		</div>

		<div class="row">

			<!-- Role count -->
			<a class="col-3 ml-3 mr-2 interactive-card embed-responsive embed-responsive-4by3 rounded shadow border d-flex align-items-center justify-content-center text-decoration-none" href="/user" >
				<div class="text-center">
					<h3 class="text-secondary"><i class="fas fa-users"></i> Role</h3>
					<p class="display-3 text-primary" th:text="${dashboardDto.roleCount}">
						Role Count</p>
				</div>	
			</a>

			<!-- User count -->
			<a class="col-3 ml-2 mr-3 interactive-card embed-responsive embed-responsive-4by3 rounded shadow border d-flex align-items-center justify-content-center text-decoration-none" href="/user" >
				<div class="text-center">
					<h3 class="text-secondary"><i class="fas fa-users"></i> User</h3>
					<p class="display-3 text-primary" th:text="${dashboardDto.userCount}">
						User Count</p>
				</div>	
			</a>

		</div>

	</div>
	<div layout:fragment="scripts">
		<script th:src="@{/static/js/app/role/role-list.js}"></script>
	</div>
</body>