<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
	layout:decorate="~{layouts/admin/layout}">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Admin Dashboard</title>
</head>

<body>
	<div layout:fragment="content">

		<div th:replace="fragments/breadcrumb-title :: breadcrumb-title('Admin Dashboard')">			
		</div>

		<div class="row">

			<!-- Role count -->
			<div
				th:replace="fragments/dashboard-card :: card('Role', ${dashboardDto.roleCount}, '/role', 'fas fa-users', 'col-3 ml-3 mr-2')">
			</div>

			<!-- User count -->
			<div
				th:replace="fragments/dashboard-card :: card('User', ${dashboardDto.userCount}, '/user', 'fas fa-users', 'col-3 ml-2 mr-3')">
			</div>

		</div>

	</div>
	<div layout:fragment="scripts">
		<script th:src="@{/static/js/app/role/role-list.js}"></script>
	</div>
</body>