<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layouts/admin/layout}">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Profile</title>
</head>

<body>
    <div layout:fragment="content">
		<div class="d-flex flex-column align-items-center justify-content-center vh-100">
			<h1 class="pb-3 text-secondary">403 Forbidden</h1>
			<h2 class="pb-1 text-danger"><i class="fas fa-lock"></i> Access Denied <i class="fas fa-lock"></i></h2>
			<h4 class="text-secondary">The page you are trying to access is forbidden for you.</h4>
		</div>
    </div>
</body>

</html>