<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
	layout:decorate="~{layouts/website/layout}">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Website</title>
</head>

<body>
	<div layout:fragment="content">
		<h1 style="color: #904541;" class="display-1">Hello There !!!</h1>
	</div>

	<div layout:fragment="scripts">
	</div>
</body>

</html>