<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
	layout:decorate="~{layouts/admin/layout}">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Update Admin User</title>
</head>

<body>
	<div layout:fragment="content">
		<h2>Update Admin User</h2>
		<form method="post" th:if="${appUserForm != null}" th:object="${appUserForm}">

			<div class="d-flex justify-content-between">
				<div class="col-8">
					<div class="row">
						<div class="col-sm-12 col-md-6 form-group">
							<label for="name"> <strong>Name</strong> </label>
							<input type="text" class="form-control" th:field="*{name}" required
								placeholder="Enter Admin name">
						</div>
					</div>

					<div class="row">
						<div class="col-sm-12 col-md-6 form-group">
							<label for="email"><strong>Email</strong></label>
							<input type="text" class="form-control" th:field="*{email}" required
								placeholder="Enter email">
						</div>
					</div>

					<div class="row">
						<div class="col-sm-12 col-md-6 form-group">
							<label for="mobile"><strong>Mobile</strong></label>
							<input type="text" class="form-control" th:field="*{mobile}" required
								placeholder="Enter mobile">
						</div>
					</div>
				</div>

				<div class="col-4">
					<div class="row">
						<!-- Admin user profile picture path end -->
						<div class="col">
							<div class="row justify-content-center">
								<img id="profile-picture-image" class="avatar-lg shadow-lg"
									alt="Profile Picture"
									th:src="${#strings.isEmpty(appUserForm?.profilePicturePath)} ? @{/static/image/common/avatar.png} : @{${fileDownloadPath + appUserForm?.profilePicturePath}}">
							</div>
							<div class="row justify-content-center mt-2">
								<button type="button" id="upload-admin-user-picture-button" class="btn btn-success btn-sm"><i
										class="fas fa-upload"></i> Upload Image</button>
							</div>
							<div class="row justify-content-center">
								<span class="small text-warning">Image size must be under 100KB</span>
								<input type="hidden" th:field="*{profilePicturePath}">
								<input type="file" class="d-none" id="admin-user-profile-image-file" accept="image/*">
							</div>
						</div>
						<!-- Admin user profile picture path end -->
					</div>
				</div>
			</div>

			<div class="fixed-bottom bottom-action-bar">
				<div>
					<label for="update-admin-user-submit" class="btn btn-warning m-0">
						<i class="fas fa-save"></i> Update Admin
					</label>
					<input type="submit" id="update-admin-user-submit" class="d-none">
				</div>
				<div th:replace="fragments/back-button :: back-button('/user')"></div>
			</div>
		</form>
	</div>

	<div layout:fragment="scripts">
		<script th:src="@{/static/js/app/user/admin-user-update.js}"></script>
	</div>
</body>

</html>