<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
    layout:decorate="~{layouts/login/layout}">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recover password</title>
</head>

<body>
    <div layout:fragment="content">

        <div class="d-flex flex-row justify-content-center align-items-center height-100vh user-select-none">

            <!-- Recover password form -->
            <div class="card col-4 max-width-500px shadow">
                <div class="card-body">
                    <h4 class="card-title">Recover password</h4>
                    <form method="POST" th:object="${recoverPasswordForm}">

                        <input type="hidden" th:field="*{token}">

                        <div class="form-group">
                            <label for="pwd-input"><i class="fas fa-key"></i><span class="pl-2">New
                                    Password</span></label>
                            <input type="text" class="form-control" id="pwd-input" placeholder="Enter your password"
                                th:field="*{password}" required>
                            <span class="text-danger small" th:if="${#fields.hasErrors('password')}"
                                th:errors="*{password}">Password cannot be
                                empty</span>
                        </div>
                        <a th:href="@{${loginPath}}" class="float-left small">Goto login</a>
                        <button type="submit" class="btn btn-success float-right"><i
                                class="fas fa-sign-in-alt"></i><span class="pl-2">Recover password</span></button>
                        <div th:if="${#fields.hasGlobalErrors()}">
                            <p class="text-danger" th:each="err : ${#fields.globalErrors()}" th:text="${err}">Global
                                Errors</p>
                        </div>
                    </form>
                </div>
            </div>

        </div>

    </div>

</body>

</html>