<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
	layout:decorate="~{layouts/admin/layout}">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>All Users</title>
</head>

<body>
	<div layout:fragment="content">

		<div th:replace="fragments/breadcrumb-title :: breadcrumb-title('All Users')">
		</div>

		<div class="mt-4">
			<table id="user-table" class="table table-striped table-bordered" style="width:100%">
				<thead>
					<tr>
						<th>User Id</th>
						<th>Name</th>
						<th>Mobile</th>
						<th>Email</th>
						<th class="text-center">Action</th>
					</tr>
				</thead>
				<tfoot>
					<tr>
						<th>User Id</th>
						<th>Name</th>
						<th>Mobile</th>
						<th>Email</th>
						<th class="text-center">Action</th>
					</tr>
				</tfoot>
			</table>
		</div>
	</div>
	<div layout:fragment="scripts">
		<script th:src="@{/static/js/app/user/user-list.js}"></script>
		<script th:inline="javascript">
			const userLoadRoute = /*[[@{/user-load-data}]]*/ "USER_LOAD_ROUTE";
			const userDetailsRoute = /*[[@{/user-details/}]]*/ "USER_DETAILS";
			const userUpdateRoute = /*[[@{/update-user/}]]*/ "USER_UPDATE";
			$(document).ready(function() {
				initUserDataTable (userLoadRoute, userDetailsRoute, userUpdateRoute);
			});
		</script>
	</div>
</body>

</html>