<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
	layout:decorate="~{layouts/admin/layout}">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>User Detail</title>
</head>

<body>
	<div layout:fragment="content">
		<div th:replace="fragments/breadcrumb-title :: breadcrumb-title('User Detail')">
		</div>

		<div class="row">
			<!-- Start user field -->
			<div class="col-4">

				<div class="row">
					<div class="col-12">
						<dt>
							<strong>Name</strong>
						</dt>
						<dd>
							<p th:text="${#strings.isEmpty(appUser?.name)} ? 'N.A' : ${appUser?.name}"></p>
						</dd>
					</div>
				</div>

				<div class="row">
					<div class="col-12">
						<dt>
							<strong>Email</strong>
						</dt>
						<dd>
							<p th:text="${#strings.isEmpty(appUser?.email)} ? 'N.A' : ${appUser?.email}"></p>
						</dd>
					</div>
				</div>

				<div class="row">
					<div class="col-12">
						<dt>
							<strong>Mobile</strong>
						</dt>
						<dd>
							<p th:text="${#strings.isEmpty(appUser?.mobile)} ? 'N.A' : ${appUser?.mobile}"></p>
						</dd>
					</div>
				</div>

				<div class="row">
					<div class="col-12">
						<dt>
							<strong>Date or birth</strong>
						</dt>
						<dd>
							<p th:text="${appUser?.dob == null} ? 'N.A' : ${#dates.format(appUser.dob, 'dd MMM yyyy')}">
								22 Dec 1990</p>
						</dd>
					</div>
				</div>
			</div>
			<!-- End user field -->

			<!-- Start image -->
			<div class="col-4">
				<div class="row">
					<!-- End user profile picture path end -->
					<img th:src="${#strings.isEmpty(appUser?.profilePicturePath)} ? @{'/static/image/common/avatar.png'} : ${fileDownloadPath + appUser.profilePicturePath}"
						onerror="this.src='/static/image/common/avatar.png';" class="m-auto avatar-lg shadow-lg">
					<!-- End user profile picture path end -->
				</div>
			</div>
			<!-- End image -->

			<!-- Start role selection -->
			<div class="col-4 form-group">
				<label for="dob"><strong>Roles</strong></label>
				<div class="row" th:each="role : ${appUser.roles}">
					<div class="col">
						<label th:text="${role.name}"></label>
					</div>
				</div>
			</div>
			<!-- End role selection -->
		</div>

		<div class="fixed-bottom bottom-action-bar">
			<div>
				<!-- Empty div -->
			</div>
			<div th:replace="fragments/back-button :: back-button('/user')"></div>
		</div>
	</div>

	<div layout:fragment="scripts">
	</div>
</body>

</html>