<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layouts/admin/layout}">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update My Profile</title>
</head>

<body>
    <div layout:fragment="content">
        <div th:replace="fragments/breadcrumb-title :: breadcrumb-title('Update My Profile')">
		</div>

        <form action="" method="POST" th:object="${user}">

            <div class="d-flex justify-content-between">
                <div class="col-6">
                    <div class="row">
                        <div class="col-12 col-md-6 form-group">
                            <label for="name"> <strong>Name</strong> </label>
                            <input type="text" class="form-control" th:field="*{name}" required placeholder="Enter your name">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-6 form-group">
                            <div class="form-group">
                                <label for="email"><strong>Email</strong></label>
                                <input type="email" class="form-control" th:field="*{email}" required pattern="^([^\s@]+@[^\s@]+\.[^\s@]+)$" placeholder="Enter your email address">
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-12 col-md-6 form-group">
                            <div class="form-group">
                                <label for="mobile"><strong>Mobile</strong></label>
                                <input type="text" class="form-control" th:field="*{mobile}" required pattern="^(\+)?8801[0-9]{9}|01[0-9]{9}$" placeholder="Enter your mobile number">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-6">
                    <div class="row">
                        <div class="m-auto">
							<div th:replace="fragments/picture :: picture(
								image = ${user.profilePicturePath},
								fallbackImage = '/static/image/common/avatar.png',
								classes = 'm-auto avatar-lg shadow-lg')">
							</div>

                            <div class="row mt-3">
                                <div class="d-flex flex-column m-auto">
                                    <button type="button" id="change-avatar-button" class="btn btn-warning m-auto"><i
                                            class="fas fa-upload"></i> Upload
                                        Avatar</button>
                                    <span class="small text-warning">Image size must be under 100KB</span>
                                    <input type="hidden" th:field="*{profilePicturePath}">
                                    <input type="file" class="d-none" id="change-avatar-input" accept="image/*">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="fixed-bottom bottom-action-bar">
                <div>
                    <label for="update-profile-submit" class="btn btn-warning m-0">
                        <i class="fas fa-save"></i> Update Profile
                    </label>
                    <input type="submit" id="update-profile-submit" class="d-none">
                </div>

                <a class="btn btn-outline-primary mr-4" th:href="@{${myProfilePath}}"><i class="fas fa-arrow-left"></i>
                    Back</a>

            </div>
        </form>
    </div>

    <div layout:fragment="scripts">
        <script th:src="@{/static/js/app/profile/update-profile.js}"></script>
    </div>
</body>

</html>